html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 12px 0;
}

.btn:focus, .btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.dropdown-menu {
  min-width: 220px;
  white-space: normal;
  word-wrap: break-word;
}

.form-floating > .form-control-plaintext::placeholder,
.form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder,
.form-floating > .form-control:focus::placeholder {
  text-align: start;
}

* {
  box-sizing: border-box;
}

table {
  width: 100%;
  table-layout: auto;
}

th, td {
  text-align: left;
  vertical-align: middle;
}
